
<div class="contact-form">
    <div class="container">
    <div ng-controller="ContactController" id="contact">
        <h2>Angular based Contact form using PHPMailer</h2>
        <p class="title" style="text-align:center;"> Even if we don’t talk today, please sign up to hear more about this project.</p>
        <p ng-class="result" style="padding: 1em; margin: 1em; background:green; color:#fff">{{ resultMessage }}</p>
        <form ng-submit="submit(contactform)" name="contactform" method="post" action="" class="form" role="form">
            <div class="column">
                <div class="row" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                    <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required>
                    <label for="fancy-text">Name</label>
                </div>
                <div class="row" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                    <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
                    <label for="fancy-text">Email</label>
                </div>
                <div class="row" ng-class="{ 'has-error': contactform.inputAge.$invalid && submitted }">
                    <input ng-model="formData.inputAge" type="tel" class="form-control" id="inputAge" name="inputAge" placeholder="Age" required>
                    <label for="fancy-text">Phone</label>
                </div>
              <!-- <div class="row" ng-class="{ 'has-error': contactform.inputSubject.$invalid && submitted }">
                    <input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Subject Message" required>
                    <label for="fancy-text">Subject</label>
                </div>
            </div> -->
            <div class="column">
            <div class="row"  ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                <textarea ng-model="formData.inputMessage" class="form-control" rows="6" id="inputMessage" name="inputMessage" placeholder="Your message... " required></textarea>
                <label for="fancy-textarea">Message</label>
            </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-default submit" ng-disabled="submitButtonDisabled">
                        Send Message
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
